MAGENTO_ADMIN_EMAIL=john.smith@example.com
MAGENTO_ADMIN_FIRST_NAME=John
MAGENTO_ADMIN_LAST_NAME=Smith
MAGENTO_ADMIN_USER=admin
MAGENTO_ADMIN_PASSWORD=password123
MAGENTO_ADMIN_FRONTNAME=admin
MAGENTO_LOCALE=es_PE
MAGENTO_CURRENCY=PEN
MAGENTO_TIMEZONE=America/Lima
